$color_light_blue: #b2cbe4;
$color_blue: #215eac;
$color_light_grey: #f0f0e9;
$color_white: #FFFFFF;
$color_text: #424040;
$color_dark_text: #333132;
$color_red: #99172a;
$color_brown: #7e7e5e;
$global-weight-bold: bold;